In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
superfund = pd.read_csv("https://users.ssc.wisc.edu/~mckelvey/ec390/superfund.csv")[['Site_Name','State']]
print(superfund['State'].memory_usage(deep = True))
superfund['State'] = superfund['State'].astype('category')
print(superfund['State'].memory_usage(deep=True))
top10_states = list(superfund.groupby('State').count().sort_values('Site_Name', ascending = False).head(10).index)
print(top10_states)

121241
7873
['New Jersey', 'Pennsylvania', 'New York', 'California', 'Michigan', 'Florida', 'Texas', 'Washington', 'Illinois', 'Indiana']

In [8]:
nhanes = pd.read_csv("https://users.ssc.wisc.edu/~mckelvey/ec390/nhanes.csv").set_index('SEQN')
nhanes = nhanes[(nhanes['ALQ130'] != 999) & (nhanes['ALQ130'] != 777) & (nhanes['DMDMARTZ'] != 77) & (nhanes['DMDMARTZ'] != 99)]
mapping_dict = {1 : 'Married/Living with partner', 2: 'Widowed/Divorced/Seperated', 3:'Never married'}
nhanes['DMDMARTZ'] = nhanes['DMDMARTZ'].map(mapping_dict).astype('category')
nhanes = nhanes.rename(columns = {'DMDMARTZ':'Marital_Status'})
nhanes = nhanes.rename(columns = {'ALQ130':'avg # alcoholic drinks/day/12 mos'})
nhanes[['Marital_Status','avg # alcoholic drinks/day/12 mos']].groupby('Marital_Status').mean()

                             avg # alcoholic drinks/day/12 mos
Marital_Status
Married/Living with partner                           2.447091
Never married                                         3.168618
Widowed/Divorced/Seperated                            2.478604